* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  height: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  position: relative;
}

.navbar h1 {
  color: #fff;
  font-size: 1.8rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar a {
  color: #f3f4f6;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  transition: background 0.3s ease;
}

.navbar a:hover {
  background-color: #374151;
  border-radius: 5px;
}

.navbar a.active {
  background-color: tomato;
  border-radius: 10px;
}

/* Burger */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Hero section */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 0 20px;
  text-align: center;
  background: #6a7ca5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.hero-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  max-width: 600px;
}

/* Mark Converter and Temp Converter*/
.markConverter,
.tempConverter {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  border: solid rgb(237, 231, 231);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 25vw;
  margin: 7rem auto 0 auto;
  text-align: center;
}

.markConverter h1,
.tempConverter h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.markConverter input,
.tempConverter input,
.tempConverter select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.markConverter button,
.tempConverter button {
  width: 100%;
  padding: 0.75rem;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.markConverter button:hover {
  background: #0056b3;
}

.markConverter p,
.tempConverter p {
  margin-top: 2rem;
  color: #666;
}

/* Staff Page */
#sortSalary:hover,
#sortName:hover {
  background-color: #011d30;
}

.table-container {
  width: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  background-color: #f9fafb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

thead {
  background-color: #3b82f6;
  color: white;
}

th,
td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

tbody tr:hover {
  background: #f1f1f1;
}

/* Footer */
#footer {
  height: 60px;
  background-color: #333;
  color: #f3f4f6;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .markConverter,
  .tempConverter {
    width: 50vw;
    margin: 5rem auto 0 auto;
  }
}

@media screen and (max-width: 783px) {
  .burger {
    display: flex;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 1rem;
    border-radius: 5px;
    width: 250px;
    z-index: 100;
  }

  .navbar ul.show {
    display: flex;
  }

  .markConverter,
  .tempConverter {
    width: 80vw;
    margin: 5rem auto 0 auto;
  }

  .hero-text h2 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
    max-width: 95%;
  }
}
